<div
  style="
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: teal;
    padding: 5px;
    bottom: 0px;
    color: white;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
  "
  class="text-center"
>
  <div>
    Made with
    <span style="color: red; font-size: x-large">&hearts;</span> by
    <a
      style="color: white"
      href="https://rituparnawarwatkar.com"
      >Ritu</a
    >
  </div>
</div>
